<div class="ui raised segment">

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div *ngIf="!aggrConfig">
                Loading...
            </div>
            <div *ngIf="aggrConfig">
                <h2 class="ui header">Demo {{aggrConfig.name}} ({{aggrConfig.version}})</h2>


                <h5>Enter Patient Id</h5>
                <input [(ngModel)]="patientId">               


                <button type="button" (click)="execute()" class="btn btn-success btn-lg">Execute</button>

            </div>


        </div>
        <div class="col-sm-6 col-lg-8">

            <h2 class="ui header">Output</h2>
            <div *ngIf="!aggrOutput">
                Submit Aggregation to get the outpur
                </div>
                <div *ngIf="aggrOutput">
                    <div class="alert-info alert">

                        <table class="tab-content table">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>Id</td><td>{{aggrOutput.id}}</td></tr>
                                <tr><td>Patient Id</td><td>{{aggrOutput.patientId}}</td></tr>
                                <tr><td>Code</td><td>{{aggrOutput.codeId}}</td></tr>
                                <tr><td>Value</td><td>{{aggrOutput.value}}</td></tr>
                                <tr><td>Timestamp</td><td>{{aggrOutput.timestamp}}</td></tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
   
   

    </div>
