<h1>Dss models</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dssModels"><em>Loading...</em></p>
<div class="btn-group">
    <button class="btn btn-danger" (click)="addDummyData();">Add Dummy</button>
    <button class="btn btn-success" (click)="refresh();">Reload</button>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class='table' *ngIf="dssModels">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>CreatedBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dss of dssModels">
                    
                    <td>{{ dss.id }}</td>
                    <td>{{ dss.title }}</td>
                    <td>{{ dss.description }}</td>
                    <td>{{ dss.createdBy }}</td>

                    <td>
                        <a class="btn btn-success" [routerLink]="['/dssvalue',dss.id]">Test Form</a>
                        
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-6">
        <table class='table table-bordered' *ngIf="logOutput">
            <thead>
                <tr>
                    <th>Message</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of logOutput">
                    <td ><span style="color:{{ log.color }}">{{ log.message }}</span></td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>